# OS specific
.DS_Store

# for local config
*.local
.debug.env

# deps
node_modules

# temp file
tmp
**/.tmp

# build file
release
dist
dist-ssr

# cache
.eslintcache

# external
extra

# log
vite-plugin-electron.log

.turbo
